<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDatabase"
          connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\scratch\dynamicpages\www\App_Data\DynamicData.mdf;Integrated Security=True"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!-- Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\scratch\dynamicpages\www\App_Data\DynamicData.mdf;Integrated Security=True
Data Source=(LocalDB)\v11.0;Integrated Security=True;AttachDBFilename=|DataDirectory|DynamicData.mdf;Integrated Security=True
-->